@tailwind base;
@tailwind components;
@tailwind utilities;


i,button,a,span{
    transition: 0.3s;
}
body{
    background-color: #1e293b;
    color: #e5e5e5;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    
}
.hero-grid{
    display: grid;
    grid-template-columns: 3% 90% 3%;
    justify-content: space-between;
    
}
.project-block{
    opacity: 1;
    background: repeating-linear-gradient( -25deg, #34d399, #34d399 50%, #10b981 20px, #10b981 100% );
    padding: 210px 300px ;
}
.diagonal-bg{
    background: repeating-linear-gradient( -25deg, #10b981, #10b981 50%, #34d399 20px, #34d399 100% );
    
}

.project-grid{
    display: grid;
    grid-template-areas: 
        "a a a"
        "a a a"
        "b b c";
}
.grid-area-1{grid-area: a;}.grid-area-2{grid-area: b;}.grid-area-3{grid-area: c;}
.left-border{
    border-top: 3px;
    border-left: 3px;
    border-color: #34d399;  
    border-style: solid;
}
.right-border{
    border-bottom: 3px;
    border-right: 3px;
    border-color: #34d399;  
    border-style: solid;
}

